.main__menu 
{
  @include main-menu;
}
.full__menu 
{
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
}
.meals:nth-child(2) 
{
  animation-delay: 0.25s;
}
.meals:nth-child(3) 
{
  animation-delay: 0.50s;
}
.meals:nth-child(4) 
{
  animation-delay: 0.75s;
}
.meals 
{
  transform-origin: top;
  animation: 1s ease-in-out backwards fadein;
  @include desktop {
    width: 400px;
  }
}

.dish 
{
  @include desktop {
    width: 400px;
  }
}
.dessert 
{
  @include desktop {
    width: 400px;
  }
}
.cross 
{
  @include cross;
}
.line 
{
  width: 40px;
  border: 2px solid $color-tertiary;
  margin-left: 10px;
}
