.fill 
{
  color: black;
  cursor: pointer;
  &:hover 
  {
    animation: fill 0.3s ease-in-out;
    display: inline-block;
    opacity: 1;
    background:linear-gradient(#9356dc,#ff79da);
    background:-webkit-linear-gradient( #9356dc, #ff79da);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
  }
}
