$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$linear-gradient:linear-gradient(#9356dc,#ff79da);
$background-gris-footer: #353535;
$font-cursive: 'Shrikhand', cursive;
